GEMINI_API_KEY=put_gemini_api_key_here
N8N_WEBHOOK_URL=http://localhost:5678/webhook/meeting-agent

# n8n production webhook URL
# For testing we can use:
# http://localhost:5678/webhook-test/meeting-agent